.main{
   display: grid;
   grid-template-rows: 25% 20% 15% 10%;
   height: 92%;
}

.penaltyTimer{
   Font-family: Trebuchet MS, sans-serif;
   color:#8f0100;
   font-size:100px;
   position: relative;
   top:-100px;
   line-height: 100%;
}

.timer{
   Font-family: Trebuchet MS, sans-serif;
   color:black;
   font-size:140px;   
   position: relative;
   top:-200px;
   height:50vh;
   line-height: 100%;
}

.inputs{
   justify-content: center;
   position:relative;
}

.buttons{
   gap: 10px;
}

.buttons button {
   width: 100px;
   height: 60px;
   padding: 5px;
   margin-top:15px;
   margin-right:1px;
   margin-left:1px;

   color: #8f0100;

   cursor: pointer;

   transition: all 0.25s;

   font-size: 24px;

   border-radius: 5px;
   border: 0;
}

.buttons button:hover{
   color: #f0f2f5;
   background-color: #8f0100;
}