.main{
   display: grid;
   grid-template-rows: 25% 20% 15% 10%;
   height: 92%;
   /* align-items: center;
   flex-direction: column;
   gap: 20px;*/
}

.penaltyTimer{
   Font-family: Trebuchet MS, sans-serif;
   color:#8f0100;
   font-size:100px;
   position: relative;
   top:-170px;
   /* font-size:calc(12.5vh + 6.5vw); */
   /* position: relative;
   top: 100px; */
}

.timer{
   Font-family: Trebuchet MS, sans-serif;
   color:black;
   font-size:140px;   
   position: relative;
   top:-300px;
   /* position: absolute; */
   /* bottom: 200px; */
   /* font-size:calc(12.5vh + 6.5vw); */
   /* font-size:calc(20.5vh + 10.5vw); */
}

.inputs{
   justify-content: center;
   margin-top:30px;
}

.buttons{
   /* display: flex;
   position: absolute;
   top:65%; */
   gap: 10px;
}

.buttons button {
   width: 100px;
   height: 60px;
   padding: 5px;

   color: #8f0100;

   cursor: pointer;

   transition: all 0.25s;

   font-size: 24px;

   border-radius: 5px;
   border: 0;
}

.buttons button:hover{
   color: #f0f2f5;
   background-color: #8f0100;
}