.main{
   display: flex;
   align-items: center;
   flex-direction: column;
   gap: 20px;
   margin-top:8vh;
}

.timer{
   color:black;
   font-size:calc(20.5vh + 10.5vw);
}

.buttons{
   display: flex;
   position: absolute;
   top:60%;
   gap: 10px;
}

.buttons button {
   width: 100px;
   height: 60px;
   padding: 5px;

   color: #8f0100;

   cursor: pointer;

   transition: all 0.25s;

   font-size: 24px;

   border-radius: 5px;
   border: 0;
}

.buttons button:hover{
   color: #f0f2f5;
   background-color: #8f0100;
}