.scoreBoard{
   display:grid;
   grid-template-columns: 24vw 1fr 24vw;
   height:100vh;
   max-height:1080px;
   background-color: #f0f2f5;
}

.leftScore{
   display: grid;
   width: 23vw;
   grid-template-rows: 78%;
   margin-left: 3px;
   margin-right: auto;
   margin-top:10vh;
   background-color: #1890ff;
   border-radius: 7%;
   max-height:87vh;
}

.rightScore{
   display: grid;
   grid-template-rows: 78%;
   width: 23.2vw;
   margin-left:8px;
   margin-right: auto;
   margin-top:10vh;
   background-color: #8f0100;
   border-radius: 7%;
   max-height:87vh;
}

.leftScore button, .rightScore button {
   
   width: 6.5vw;
   height: 7.5vh;
   padding: 5px;
   margin:5px;

   cursor: pointer;
   transition: all 0.25s;

   font-size:calc(2vh + 2vw);

   border-radius: 5px;
   border: 0;
}

.buttons{
   max-height:150px;
}

.leftScore button{
   color: #f0f2f5;
   background-color: #1890ff;
}

.leftScore button:hover{
   color: #1890ff;
   background-color: #f0f2f5;
}

.rightScore button{
   color: #f0f2f5;
   background-color: #8f0100;
}

.rightScore button:hover{
   color: #8f0100;
   background-color: #f0f2f5;
}

.resetBtn button{
   font-size:calc(1vh + 1vw);
   width:6vw;
   height:6vh;
   margin-top:15px;
}

.scoreNumber{
   color: #f0f2f5;
   font-size:calc(25vh + 15vw);
   margin-left:5px;
   margin-top: -5vh;
}

.scoreNumberSmall{
   color: #f0f2f5;
   font-size:calc(15vh + 12vw);
   justify-content: center;
}

.title{
   position:absolute;
   bottom: 20px;;
   margin-left: auto;
   margin-right: auto;
   left: 27%;
   right:25.5%;
   text-align: center;
   min-height: 80px;
}

.titleH1{
   color: #8f0100;
   font-size:calc(2.2vw + 4.4vh);
   max-height: 120px;
   margin: 0;
   white-space: nowrap;
}

